.review-slider-container {
  margin-top: 50px;
}

.review-slider-container h1{
  text-align: center;
  font-size: 40px;
 }
 .carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
 }
 
 .carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
 }
 
 .carousel .slide img {
  width: 140px !important;
  height: 140px;
  border-radius: 50%;
 }
 
 .myCarousel {
  margin-top: -6%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 286px;
 }
 
 .myCarousel svg {
  fill: #72d08e;
  width: 39px;
 }
 
 .carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
 }
 
 .myCarousel h3 {
  color: #72d08e;;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  /* text-transform: uppercase; */
  font-size: 30px;
 }
 
 .myCarousel h4 {
  /* text-transform: uppercase; */
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 28px;
 }
 
 .carousel .control-dots {
   display: none;
 }
 
 .myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 24px;
  font-family: "Nunito";
  text-align: center;
 }
 
 
 .carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
 }
 
 .carousel .control-prev.control-arrow:before{
  border-right: 8px solid black !important;
 }
 
 .carousel .control-next.control-arrow:before {
  border-left: 8px solid black !important;
 
 }
 
 .carousel.carousel-slider .control-arrow:hover {
  background: rgb(114 208 142) !important;
 }
 
 .carousel.carousel-slider .control-arrow {
  height: 50px !important;
  position: absolute;
  top: 35% !important;
 }
 
 .App {
  text-align: center;
 }
 
 .ground-slider .carousel-root {
   width: 100% !important;
 }
 
 @media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }
 
  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    margin-top: -9%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 60vh;
    /* height: 269px; */
  }
 }
 
 @media screen and (max-with:768px) {
   .myCarousel {
     margin: 40px auto;
     height: unset;
   }
  
 } 
 